{% extends "home.html.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href='{{ asset("css/student/home.css") }}'>
{% endblock %}

{% block title %}Home{% endblock %}

{% block card_href %}{{ asset("student-assignment") }}{% endblock %}

{% block page_header %}
<div class="switch">
    <div class="selected">
        <label for="current">Current</label>
        <input type="radio" checked="checked" name="filter" id="current">
    </div>
    <div>
        <label for="closed">Closed</label>
        <input type="radio" name="filter" id="closed">
    </div>
</div>
{% endblock %}

{% block card_content %}
<div class="desc-container">
    <div class="title-desc">{{ assignment.title|length > 10 ? assignment.title|slice(0, 10) ~ '...' : assignment.title }}</div>
    <div class="group-desc">{{ assignment.group }}</div>
</div>
<div class="desc-container">
    <div>
        <div class="softdate-desc">Odevzdat do</div>
        <div class="date">{{ assignment.soft }}</div>
    </div>
    <div>
        <div class="harddate-desc">Uzávěrka v</div>
        <div class="date">{{ assignment.hard }}</div>
    </div>
</div>
{% endblock %}