{% extends "menu.html.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="css/student-assignment.css">
    <link rel="stylesheet" href='{{ asset("css/userinfo.css") }}'>
{% endblock %}

{% block javascripts %}
<script defer src="{{ asset('js/userinfo.js') }}"></script>
{% endblock %}

{% block title %}Assignments{% endblock %}

{% block navbar %}
    <a><li><i id="icon" class="fa fa-user fa-2x"></i></li></a></li>
    <div class="user">
        <h1 class="username">
            {{ user.name }}
            {% if user.gender == "man" %}
                <i class="fa-solid fa-person"></i>
            {% else %}
                <i class="fa-solid fa-person-dress"></i>
            {% endif %}
        </h1>
        <h2 class="role">{{ user.role }}</h2>
        <h2 class="class">
            {% if user.class|first|lower == 'i' %}
            <i class="fa-solid fa-computer"></i>
            {% elseif user.class|first|lower == 'e' %}
            <i class="fa-solid fa-bolt"></i>
            {% elseif user.class|first|lower == 's' %}
            <i class="fa-solid fa-gear"></i>
            {% elseif user.class|first|lower == 'v' %}
            <i class="fa-solid fa-gavel"></i>
            {% elseif user.class|first|lower == 'a' %}
            <i class="fa-solid fa-car"></i>
            {% elseif user.class|first|lower == 'n' %}
            <i class="fa-solid fa-wrench"></i>
            {% elseif user.class|first|lower == 'l' %}
            <i class="fa-solid fa-laptop"></i>
            {% endif %}
            {{ user.class|upper }}
        </h2>
    </div>
{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        <a href="student-home"><input type="button" name="exit" id="exit" value="Exit"></a>
        <h1>{{assignments.a1.title}}</h1>
        <h3 id="date">Soft deadline: {{assignments.a1.soft_deadline}}</h3>
        <h3 id="date">Hard deadline: {{assignments.a1.hard_deadline}}</h3>
        <div class="description">
            <h3 id="">Description</h3>
            {% apply markdown_to_html %}
            {{ assignments.a1.description }}
            {% endapply %}
        </div>

        <label for="file" id="custom-file-input">        
            Upload File
        </label>
        <input type="file" name="file" id="file" multiple>
        <input type="submit" name="submit" id="submit" value="Submit">        
    </form>
</div>
{% endblock %}